<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="http://www.w3school.com.cn/i/eg_background.jpg">
    <div style="float: left">
        <h1>标题</h1>
        <!--这是一段注释-->
        <!--<a href="#sq">点击跳转</a><br/>-->
        <!--<a href="https://www.baidu.com">this is a link</a><br/>-->
        <!--<a name="sq">111111111</a>-->
        <!--<p>-->
        <!--一幅图片-->
        <!--<img src="http://www.w3school.com.cn/i/eg_mouse.jpg"/>-->
        <!--</p>-->

        <!--<p>-->
        <!--一副动图-->
        <!--<img src="http://www.w3school.com.cn/i/eg_cute.gif"/>-->
        <!--</p>-->
        <table border="1" cellpadding="10">
            <tr>
                <th>姓名</th>
                <th>班级</th>
            </tr>
            <tr>
                <td>小王</td>
                <td>一班</td>
            </tr>
            <tr background="http://www.w3school.com.cn/i/eg_cute.gif">
                <td>小明</td>
                <td>二班</td>
            </tr>
        </table>
        <ul>
            <li>一班</li>
            <li>二班</li>
            <li>三班</li>
        </ul>
        <ol>
            <li>一班</li>
            <li>二班</li>
            <li>三班</li>
        </ol>
        <dl>
            <dd>计算机</dd>
            <dd>用来计算的仪器 ... ...</dd>
            <dd>显示器</dd>
            <dd>以视觉方式显示信息的装置 ... ...</dd>
        </dl>
        <dl>
            <dt>Coffee</dt>
            <dd>Black hot drink</dd>
            <dt>Milk</dt>
            <dd>White cold drink</dd>
        </dl>
        <div class="red">
            23133333<span class="yellow">终于</span>3333333333333333333333333333
        </div>
    </div>
    <iframe src="hello.html" width="400px" height="400px" frameborder="0" name="viewiframe"></iframe>
    <a href="https://www.baidu.com" target="viewiframe">百度</a>

</body>
</html>